<!-- partials/_navbar.ejs -->

<nav>
    <% if(user) { %>
    <div class="landing-header">
        <div class="crewLink-icon"></div>
        <div class="nav-links">
            <a href="/users/dashboard">Profile</a>
            <a href="/agency">View all Agencies</a>
            <a href="/platform">View all Online Platforms</a>
            <a href="/job">View all Jobs</a>    
            <a href="/auth/sign-out">Sign Out</a>
        </div>
    </div>
  
    <% } else { %>
    <div class="landing-header">
        <div class="crewLink-icon"></div>
        <div class="auth-links">
        <a href="/auth/sign-up">Sign Up</a>
        <a href="/auth/sign-in">Sign In</a>
      </div>
    </div>
    <% } %>
  </nav>
  