<!DOCTYPE html>

<html lang="en">

  <head>

    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/style.css" />

    <title>CrewLink</title>

    <meta name="google-site-verification" content="3kHvkkLumn2dIV8SFAShOjdRZv65ZzryCoJqRNGM4Bo" />

  </head>

  <body>

    <%- include('./partials/_navbar.ejs') %>

    <div class='signin-page'>

    <div class="landing-image"></div>
    
    <div class="landing-page-description">
      
      CrewLink,  your superyacht recruitment hub!
    

    </div>
        
  </body>

</html>
